// Fonts

$main-font: 'Inter', sans-serif;

// Colors

$main-color:  #01b16d;
$bgGreen-color: #41c592;
$green-color: #e0f5ed;
$white-color:#fff;
$bg-color:#f9f9fb;
$grey-color:  rgba(255, 255, 255, 0.32);
$black-color:#555351;
$black1-color:#1c1917;


// Sizes

$container-width: 1303px;
$container-padding:20px;