.blog {
  overflow-x: hidden;
  padding: 116px;
  // background-color: $bg-color;

  &-content {
    padding: 40px 0;
    @include flex(none, none);
  }

  &-card {
    margin-right: 24px;
  }

  &-number {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: $black1-color;
  }

  &-title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    color: $black1-color;
  }
  &-subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: $black-color;
  }
}
