.header {
  padding: 9px 0;
  background-color: $main-color;

  &-row {
    @include flex(center, space-between);
    position: relative;
    top: 0;
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;

  }

  &-nav {
    @include media(768) {
        display: none;
    }
}

  &-link {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    color: $white-color;

    &:not(:last-child) {
      margin-right: 36px;

      
            @include media(1000) {
                margin-right: 20px;
            }
    }

    &:hover {
      color: $black1-color;
      text-decoration: overline;
    }

  }

  &-button {
    &__left {
      border-radius: 8px;
      padding: 12px 14px;
      width: 50px;
      height: 48px;
      font-family: $main-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $white-color;
      background: $grey-color;

      &:not(:last-child) {
        margin-right: 15px;

        @include media(768) {
          display: none;
      }
      }

      &:hover {
        background-color: $main-color;
        border: 1px solid $green-color;
        transition: all 0.2s ease-in-out;
      }
    }

    &__right {
      border-radius: 8px;
      padding: 12px 32px;
      width: 109px;
      height: 48px;
      font-family: $main-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $white-color;
      background: $grey-color;

      &:hover {
        background-color: $main-color;
        border: 1px solid $green-color;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
